@use "../../styles/variables.scss" as *;

.footer {
    background-color: $light-gray;
    padding: 1rem 0;

    &__title {
        text-align: center;
        margin: 0;
        color: $blue;
        color: black;
        font-weight: 400;
    }
}